<!-- account/view/_part/menu/sideMenu -->

<ul class="sidebar-menu tree-menu" data-widget="tree" data-jam="TreeMenu">

    <li class="menu-item">
        <a href="account/notification" class="menu-item-btn">
            <span data-t="">Notifications</span>
        </a>
    </li>
</ul>