<%
layout(_view.get('_layout/content'));
block('title', 'Basic info');
%>

<div class="row">
  <div class="col-xl-9">
    <div class="model-view model form">
      <div class="form-attr form-group row">
        <label class="col-lg-3 col-form-label" data-t="">Name</label>
        <div class="col-lg-9">
          <div class="form-control-plaintext">
            <%- model.getTitle() %>
          </div>
        </div>
      </div>
      <div class="form-attr form-group row">
        <label class="col-lg-3 col-form-label">Email</label>
        <div class="col-lg-9">
          <div class="form-control-plaintext">
            <%- model.getEmail() %>
          </div>
        </div>
      </div>
      <div class="form-attr form-group row">
        <label class="col-lg-3 col-form-label" data-t="">Assigned roles</label>
        <div class="col-lg-9">
          <div class="form-control-plaintext">
            <%- _controller.user.getAssignmentTitles().join('<br>') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="mt-4">
  <% if (enablePasswordChange) { %>
  <a href="<%- changePasswordUrl %>" class="btn-outline-secondary btn" data-t="">Change password</a>
  <% } %>
</div>